{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block extraJS %}
    <script>
        let buttons = document.querySelectorAll(".like-button");
        buttons.forEach(function (button){
            button.addEventListener('click', function (){
                fetch("{{ path('api_serie_update', {'id':serie.id}) }}")  {# L\'interet de faire le JS ici est de pouvoir insérer du twog dans le JS #}
            })
        })
    </script>
{% endblock %}

{% block body %}
<h2 class="margin-top-max">Détails de la Série {{ serie.name }} ({{ serie.genre }})</h2>
    <section class="serie-details">
        <img src="{{ asset('img/posters/series/'~serie.poster) }}" alt="{{ serie.name }}">
        <div class="serie-details-infos">
            <div>
                <a class="link_button" href="{{ path('serie_edit', {'id' : serie.id}) }}">Edit</a>
                {%  if is_granted("SERIE_DELETE", serie) %}
                    <a class="link_button" onclick="return confirm('Deletion of {{ serie.name}} is irreversible.')" href="{{ path('season_delete', {'id' : serie.id}) }}">Delete</a>
                {% endif %}
                <a class="link_button" href="{{ path('season_new', {'serieId' : serie.id}) }}">Add season</a>

            </div>
            <h3>{{ serie.name }} | {{ serie.nbLike }} <div class="heart"></div>&#9829; </h3>
            <div class="flex_div">
                <button class="like-button" value="1">Like</button>
                <button class="like-button" value="-1">Dislike</button>
            </div>
            <div>User ratings : {{ serie.vote }}</div>
            <div>Genres : {{ serie.genre }}</div>
            <div>Status : {{ serie.status }}</div>
            <div>Aired form {{ serie.firstAirDate | date('Y-m-d') }} to {{ serie.lastAirDate | date(('Y-m-d')) }}</div>
            <div>{{ serie.overview | nl2br}}</div>


        </div>
    </section>
    <div class="seasons">
        <h3>Seasons</h3>
        {% for season in serie.seasons %}
            <article>
                <img src="{{ asset('img/posters/seasons/'~season.poster) }}" alt="{{ serie.name }} | {{ season.number }}">
                <div>
                    <h4>Season #{{ season.number }}</h4>
                    <p>First air date : {{ season.firstAirDate | date('d-m-Y') }}</p>
                    <p>{{ season.overview }}</p>

                </div>
            </article>
        {% else %}
            <div>No seasons ! </div>
        {% endfor %}
    </div>

{% endblock %}
{% block extraStyles %}
    <style>
        body{
            background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url("{{ asset('img/backdrops/'~serie.backdrop) }}");

        }
    </style>
{% endblock %}

